 header
 .cabecalho {
    background-color: #6334a1;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 24%;
 }
.cabecalho-imagem{ width: 20%;}
.cabecalho-lista-item {display: inline-block;
    margin: 0 16px;
    font-size: 24px; }

